<div id="map" style="width:100%;height:400px;"></div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=sl4XbmpEWzgnpH9xpfd_&submodules=geocoder"></script>
<script>
// naver.maps을 N으로 축약하려면 전부 다 바꿔야 된다.

//지도 컨트롤
var mapOptions = {
    scaleControl: false,
    logoControl: true,
    mapDataControl: false,
    zoomControl: true,
    zoomControlOptions:{
      position: N.Position.RIGHT_CENTER
    },
    minZoom: 5,
    maxZoom: 12
};

// 네이버 map을 div tag와 연결
//var map = new naver.maps.Map('map');
//지도 컨트롤 추가
var map = new N.Map('map', mapOptions);
var cityhall = new naver.maps.LatLng(37.5666805, 126.9784147);
var markers = [];
var infoWindows = [];
var indices = [];
var data;

// var data = [
//     {name: "아리차이", address: "서울특별시 관악구 신림동길 4", link: "https://store.naver.com/restaurants/detail?id=11704746", x: 126.9282765, y: 37.4876462},
//     {name: "한우등촌골", address: "서울특별시 강서구 등촌로 201", link: "https://store.naver.com/restaurants/detail?id=35966485", x:126.86273, y: 37.5476847},
//     {name: "수유부추곱창", address: "서울특별시 강북구 도봉로87길 26-21", link: "https://store.naver.com/restaurants/detail?id=37111836", x: 127.0247721, y: 37.6393168},
//     {name: "강천민물장어", address:"서울특별시 강동구 올림픽로 834 한강시티라이프", link: "https://store.naver.com/restaurants/detail?id=18905396", x: 127.1297937, y: 37.5553916 }
//   ];


map.setCenter(cityhall);
map.setZoom(13)

getData();

function getData() {

  var bounds = map.getBounds();
  var max = bounds._max;
  var min = bounds._min;

  $.ajax({
    url: '/map_data',
    type: 'POST',
    dataType: 'json',
    data: {
      max: JSON.stringify(max),
      min: JSON.stringify(min),
      authenticity_token: $("[name='csrf-token']").attr('content'),
      indices: JSON.stringify(indices)
    },

    success: function(res){
      data = res[0]; // data
      indices = indices.concat(res[1])// 세로 로딩된 학교들의 id
      alert('success');
      console.log(data);
      createElements();
    }
  });
};

function createElements() {
  alert('create');

  var new_markers = [];
  var new_infoWindows = [];

  for(var i = 0; i < data.length; i++){
    var school = data[i];

    var marker = new N.Marker({
      position: new N.LatLng(school.lat, school.lng),
      map: map,
      icon: {
          url: 'https://navermaps.github.io/maps.js/docs/img/example/sally.png',
          size: new naver.maps.Size(50, 52), //사이즈는 이미지 자체가 변하는게 아니라 보이는 부분의 크기가 바뀐다.
          origin: new naver.maps.Point(0, 0), // 이미지를 감싸고 있는 div위치를 바꿈
          anchor: new naver.maps.Point(25, 26) // div자체가 이동
      },
      animation: 1
    });

    console.log(school.name);
    var contentString = [
      '<div class="iw_inner">',
      '<h3>'+school.name+'</h3>',
      '<p>'+school.address+'</p>',
      // '<a href='http://www.naver.com'>알아보기</a>'
    ].join('')

    var infoWindow = new naver.maps.InfoWindow({
      content: contentString
    });
    new_markers.push(marker);
    new_infoWindows.push(infoWindow);

    markers.push(marker);
    // infoWindows.push(infoWindow) 
  }
  addEvents(new_markers, new_infoWindows);
};


function getClickHandler(seq) {
    return function(e) {
        var marker = new_markers[seq],
            infoWindow = new_infoWindows[seq];

        if (infoWindow.getMap()) { //정보가 맵에 표시되어 있는지
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}

function addEvents(new_markers, new_infoWindows) {
  alert("event!");
  for (var i=0, ii=new_markers.length; i<ii; i++) {
      N.Event.addListener(new_markers[i], 'click', getClickHandler(new_markers, new_infoWindows));
  }
  updateMarkers(map, markers);
};

naver.maps.Event.addListener(map, 'idle', function() {
    getData();
});

function updateMarkers(map, markers) {

    var mapBounds = map.getBounds(); //map의 왼쪽 하단의 좌표&오픈쪽 상단의 좌표를 반환
    var marker, position;

    for (var i = 0; i < markers.length; i++) {

        marker = markers[i]
        position = marker.getPosition();

        if (mapBounds.hasLatLng(position)) {
            showMarker(map, marker);
        } else {
            hideMarker(map, marker);
        }
    }
}

function showMarker(map, marker) {

    if (marker.getMap()) return;
    marker.setMap(map);
}

function hideMarker(map, marker) {

    if (!marker.getMap()) return;
    marker.setMap(null);
}
//
// var naver_addr = new N.LatLng(37.3595704, 127.105399);
// var cityhall = new naver.maps.LatLng(37.5666805, 126.9784147);
// var kojan = new naver.maps.LatLng(37.308264, 126.835506);
//
// //지도 제주도로 이동하기(위도-북위, 경도-동경)
// //var jeju = new N.LatLng(33.3590628, 126.534361);
//
// map.setCenter(naver_addr); // 중심 좌표 이동
// map.setZoom(10);     // 줌 레벨 변경
//
// //marker
// var marker = new N.Marker({
//   position: naver_addr,
//   map: map
// });
// var marker2 = new N.Marker({
//   position: cityhall,
//   map: map
// });
// var marker3 = new N.Marker({
//   position: kojan,
//   map: map
// });
//
// var makers = [marker, marker2, marker3];
// //infoWindow(마커 위에 정보창 올리기)
// var contentString = [
//   '<div class="iw_inner">',
//   '   <h3>네이버팩토리</h3>',
//   '   <p>서울특별시 중구 태평로1가 31 | 서울특별시 중구 세종대로 110 서울특별시청<br>',
//   '       02-120 | 공공,사회기관 > 특별,광역시청<br>',
//   '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
//   '   </p>',
//   '</div>'
// ].join('');
// //infoWindow(마커 위에 정보창 올리기)
// var contentString2 = [
//   '<div class="iw_inner">',
//   '   <h3>네이버팩토리</h3>',
//   '   <p>서울특별시 중구 태평로1가 31 | 서울특별시 중구 세종대로 110 서울특별시청<br>',
//   '       02-120 | 공공,사회기관 > 특별,광역시청<br>',
//   '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
//   '   </p>',
//   '</div>'
// ].join('');
// var contentString3 = [
//   '<div class="iw_inner">',
//   '   <h3>네이버팩토리</h3>',
//   '   <p>서울특별시 중구 태평로1가 31 | 서울특별시 중구 세종대로 110 서울특별시청<br>',
//   '       02-120 | 공공,사회기관 > 특별,광역시청<br>',
//   '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
//   '   </p>',
//   '</div>'
// ].join('');
// //원하는 contents를 infoWindow에 넣어서 생성하기
// var infowindow = new naver.maps.InfoWindow({
//   content: contentString
// });
//
// //원하는 contents를 infoWindow에 넣어서 생성하기
// var infowindow2 = new naver.maps.InfoWindow({
//   content: contentString2
// });
// var infowindow3 = new naver.maps.InfoWindow({
//   content: contentString3
// });
//
// var infoWindows = [infowindow, infowindow2, infowindow3];
// //Handler 추가
// // naver.maps.Event.addListener(marker, "click", function(e) {
// //     // getMap : map에 정보창이 열려 있으면 정보창에 관한 정보 리턴, 닫혀있으면 null return
// //     if (infowindow.getMap()) {
// //         infowindow.close();
// //     } else {
// //         infowindow.open(map, marker);
// //     }
// // });
// // naver.maps.Event.addListener(marker2, "click", function(e) {
// //     // getMap : map에 정보창이 열려 있으면 정보창에 관한 정보 리턴, 닫혀있으면 null return
// //     if (infowindow2.getMap()) {
// //         infowindow2.close();
// //     } else {
// //         infowindow2.open(map, marker2);
// //     }
// // });
// // naver.maps.Event.addListener(marker3, "click", function(e) {
// //     // getMap : map에 정보창이 열려 있으면 정보창에 관한 정보 리턴, 닫혀있으면 null return
// //     if (infowindow3.getMap()) {
// //         infowindow3.close();
// //     } else {
// //         infowindow3.open(map, marker3);
// //     }
// // });
//
//
// // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
// function getClickHandler(seq) {
//     return function(e) {
//         var marker = markers[seq],
//             infoWindow = infoWindows[seq];
//
//         if (infoWindow.getMap()) {
//             infoWindow.close();
//         } else {
//             infoWindow.open(map, marker);
//         }
//     }
// }
//
// for (var i=0, ii=markers.length; i<ii; i++) {
//     naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
// }
</script>
